# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
dist/
*.egg-info/

# Unit test / coverage reports
htmlcov/
.coverage
.cache
coverage.xml

# Virtualenv
.venv/

# Sphinx documentation
docs/_build/

# Type checkers / linters
.mypy_cache/
.ruff_cache/

# Lock files
uv.lock
